.DS_Store
AquamarineUI/.DS_Store
AquamarineUI/AquamarineUI.xcodeproj/project.xcworkspace/xcuserdata/vincent-tom.xcuserdatad/UserInterfaceState.xcuserstate
AquamarineUI/AquamarineUI.xcodeproj/xcshareddata/xcschemes/AquamarineUI.xcscheme
/build
CMakeLists.txt
/.vscode
/.vscode
.vscode/settings.json
Dependencies/._.DS_Store
Dependencies/._NecessaryFiles
Dependencies/._Shaders
Dependencies/NecessaryFiles/._ShaderHandling.cpp
Dependencies/NecessaryFiles/._ShaderHandling.hpp
.gitignore
Dependencies/Shaders/._fragmentShader.glsl
Dependencies/Shaders/._vertexShader.glsl
.gitignore
._.DS_Store
._.git
._.gitignore
._.vscode
._API_Portal.hpp
._build
._CMakeLists.txt
._Dependencies
._LICENSE
._main.cpp
._README.md
.vscode/c_cpp_properties.json
.vscode/settings.json
